.progress {
  width: 100%;
  background-color: #ddd;
}

.progress-bar {
  width: 1%;
  height: 20px;
  background-color: #008744;
}

.mining-item {
  display: flex;
  flex-direction: column;
}

.machine-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid gray;
  margin: 12px;
}

.mining-left  {
  flex: 1;
}

.mining-mid  {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mining-right  {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.mining-tag {
  flex: 1;
  border: none;
}

.mine-button {
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: lighter;
}

.mining-count {
  flex: 1;
  justify-content: center;
}

.mining-machine {
	width: 100%;
  margin-bottom: 10px;
  transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

.mining-machine img{
  width: 90px;
}

.buy-button {
  width: 100px;
  padding: 10px;
  display: block;
  margin: 8px;
  background-color: #617db5;
  border: none;
  font-size: 18px;
}

.speed {
  position: relative;
}

.speed:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.mine-price {
  position: relative;
}


.mine-price .tooltiptext {
  width: 300px;
}

.mine-price:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

