.progress {
  width: 100%;
  background-color: #ddd;
}

.progress-bar {
  width: 1%;
  height: 20px;
  background-color: #008744;
}

.mining-item {
  display: flex;
}

.mining-left  {
  flex: 1;
}

.mining-right  {
  flex: 1;
}

.mining-machine {
	width: 100px;
  height: 100px;
  margin-bottom: 10px;
	box-sizing: border-box;
  overflow: hidden;	
  transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

