.coin-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  justify-content: center;
  box-sizing: border-box;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coin-button {
  font-family: 'Nunito', sans-serif;
  background-color: #5b7dba; 
  font-size: 16px;
  font-weight: lighter;
  width: 80px;
  align-items: flex-end;
  margin: 10px;
  height: 50px;
  color: white;
}

.coin-icon {
  width: 50px;
}

.coin-val {
  min-width: 100px;
  padding: 5px;
  flex: 2;
  color: #b83432;
  position: relative;
}

.coin-val .tooltiptext {
  left: 0%;
}

.coin-val:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#boi{
  display: flex;
  margin-left: auto;
}