body{
    margin: 0;
}
#container{
    display: flex;
    width: 100%;
    height: 100vh;
}
#market{
    background: green;
    flex: 1;
    text-align: center;
}
#assets{
    background: red;
    flex: 1;
}
#assets h1{
    text-align: center;
}
#asset_types{
    display: flex;
    justify-content: space-around;
}
#inventory{
    background: blue;
    flex: 1;
    text-align: center;
}