
.main {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: #3b3d3b;
  padding: 50px;
}

.main-left {
  flex: 1;
  background:coral;
}

.main-right {
  flex: 1;
  box-sizing: border-box;
  padding-left: 30px;
}

.assets {
  height: 40%;
}

.coins {
  height: 60%;
  background:#d62d20;
}
