body{
    margin: 0;
    overflow: hidden;
}
.main {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #3b3d3b;
  padding: 50px;
  margin: 0;
}

.main-left {
  flex: 1;
}

.main-right {
  flex: 1;
  box-sizing: border-box;
  padding-left: 30px;
}

.assets {
  height: 40%;
  background-color: #c64e3e;
}

.coins {
  height: 60%;
  background-color:#f6cb5b;
}
